<div class="backdrop-modal-window">
    <div class="modal-window">
        <div class="overlay">
            <ng-container *ngFor="let rate of data.currencyList.rates">
                <span class="value" [ngClass]="getClassOf(rate)" (click)="changeStatus(rate)">
                    {{rate.ccu}}
                    <!-- <span class="full-name">{{rate.fullName}}</span> -->
                </span>
            </ng-container>
        </div>
        <button (click)="close()" class="button-close value">Close</button>
    </div>
</div>
