.backdrop-modal-window {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    padding: 0px !important;
}

.modal-window {
    padding: 1rem;
    background-color: rgba(222, 222, 222, 0.90);
    border-radius: 5px;
    margin-top: 6%;
    position: absolute;
    width: 80vw;
    left: 50%;
    transform: translate(-50%, 0);

}

.overlay {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.close-btn {
    margin-top: 5px;
}

.full-name {
    font-size: 2px;
}

@media (max-device-width: 992px) {
    .modal-window {
        max-width: 85%;
        min-width: 85%;
    }
}

@media (max-device-width: 500px) {
    .modal-window {
        max-width: 95%;
        min-width: 95%;
    }
}

.value {
    margin: 4px;
    padding: 4px;
    flex: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    cursor: pointer;
    max-width: 40px;
}

.active {
    background-color: #0d6dfd7e;
}

.button-close {
    max-width: 400px;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
}
