ul {  
  list-style-type: none;  
  margin: 0;  
  padding: 0px;  
  overflow: hidden;  
  background-color: #262F34;
  overflow: hidden;
}  
  
li {  
  float: left;  
}  
  
li a {  
  display: block;  
  color: white;  
  font-size:20px;  
  text-align: center;  
  padding: 10px 20px;  
  text-decoration: none;  
}  

.active{  
  background-color: #615049;  
}  

li a:hover {  
  background-color: #F1D3BC;  
  color: black;
}  

@media (max-device-width: 992px) {

}

@media (max-device-width: 500px) {
  li a {  
    font-size:12px;  
  }  
}