.table-block {
    background-color: #f8e6d9;
    border-color: #f8e6d9;
    padding: 4px;
    border-radius: 4px;
    font-size: 16px;
}

.open-modal {
    background-color: #262F34;
    border-color: #262F34;
    color: white;
    padding: 4px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}