.table-block {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    padding: 4px;
    border-radius: 4px;
    font-size: 16px;
}

.open-modal {
    background-color: #262F34;
    border-color: #262F34;
    color: white;
    padding: 4px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

@media (max-device-width: 992px) {
    .table-block {
        padding: 2px;
        border-radius: 2px;
        font-size: 14px;
    }
}

@media (max-device-width: 500px) {
    .table-block {
        padding: 1px;
        border-radius: 1px;
        font-size: 12px;
    }
}